@font-face {
	font-family: 'surreal';
	src:url('fonts/surreal.eot');
	src:url('fonts/surreal.eot?#iefix') format('embedded-opentype'),
		url('fonts/surreal.woff') format('woff'),
		url('fonts/surreal.ttf') format('truetype'),
		url('fonts/surreal.svg#surreal') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'surreal';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-location, .icon-envelop, .icon-phone, .icon-print, .icon-clock, .icon-arrow-right, .icon-arrow-left, .icon-twitter, .icon-google-plus, .icon-facebook, .icon-flickr, .icon-skype, .icon-linkedin, .icon-pinterest, .icon-youtube, .icon-vimeo, .icon-dribbble, .icon-feed, .icon-plus, .icon-arrow-left-2, .icon-arrow-down, .icon-arrow-up, .icon-arrow-right-2, .icon-quote, .icon-search, .icon-brush, .icon-share, .icon-mobile, .icon-camera, .icon-camera-2, .icon-quill {
	font-family: 'surreal';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-location:before {
	content: "\e001";
}
.icon-envelop:before {
	content: "\e002";
}
.icon-phone:before {
	content: "\e003";
}
.icon-print:before {
	content: "\e004";
}
.icon-clock:before {
	content: "\e005";
}
.icon-arrow-right:before {
	content: "\e006";
}
.icon-arrow-left:before {
	content: "\e007";
}
.icon-twitter:before {
	content: "\e008";
}
.icon-google-plus:before {
	content: "\e009";
}
.icon-facebook:before {
	content: "\e00a";
}
.icon-flickr:before {
	content: "\e00b";
}
.icon-skype:before {
	content: "\e00c";
}
.icon-linkedin:before {
	content: "\e00d";
}
.icon-pinterest:before {
	content: "\e00e";
}
.icon-youtube:before {
	content: "\e00f";
}
.icon-vimeo:before {
	content: "\e010";
}
.icon-dribbble:before {
	content: "\e011";
}
.icon-feed:before {
	content: "\e012";
}
.icon-plus:before {
	content: "\e000";
}
.icon-arrow-left-2:before {
	content: "\e013";
}
.icon-arrow-down:before {
	content: "\e014";
}
.icon-arrow-up:before {
	content: "\e015";
}
.icon-arrow-right-2:before {
	content: "\e016";
}
.icon-quote:before {
	content: "\e017";
}
.icon-search:before {
	content: "\e018";
}
.icon-brush:before {
	content: "\e019";
}
.icon-share:before {
	content: "\e01a";
}
.icon-mobile:before {
	content: "\e01b";
}
.icon-camera:before {
	content: "\e01c";
}
.icon-camera-2:before {
	content: "\e01d";
}
.icon-quill:before {
	content: "\e01e";
}
